.jobs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust column width as needed */
    gap: 20px; /* Adjust gap between grid items */
    background-color: white;
    padding: 20px;
}

.job {
    background-color: rgb(255, 228, 138);
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.job:hover {
    background-color: rgb(229, 229, 229);
}

.job-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.job-left img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(103, 156, 103);
}

.job-left h4 {
    font-size: 20px;
}

.job-left p {
    font-size: 18px;
}

.job-right a {
    color: white;
    font-size: 15px;
    margin-left: 50%;
    margin-bottom: 5%;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
     padding: 8px;
    border-radius: 10px;

}

